# Types of Arguments in Python

### What are Arguments?
    - Arguments are the values passed to a function when it is called.
``` python
def add(a, b):      # a, b → parameters
    return a + b

add(10, 20)         # 10, 20 → arguments

### TYPES OF ARGUMENTS IN PYTHON

**Python mainly supports 4 types of arguments:**
1. `Positional` Arguments
2. `Keyword` Arguments
3. `Default` Arguments
4. `Variable-Length` Arguments

#### **Positional Arguments**
- Arguments are passed in the same order as parameters.
- Order matters in positional arguments.

In [7]:
def student_info(name, age):
    print(name, age)

student_info("Ajay", 25)

Ajay 25

#### **Keyword Arguments**
- Arguments are passed using parameter names.
- Order does NOT matter in keyword arguments.

In [10]:
def student_info(name, age):
    print(name, age)

student_info(age=25, name="Ajay")

Ajay 25

In [12]:
def normalize(value, min_val, max_val):
    return (value - min_val) / (max_val - min_val)

normalize(value=50, max_val=100, min_val=0)

0.5

#### **NOTE:**
1. In a function call, positional arguments must come before keyword arguments.
If a positional argument is placed after a keyword argument, `Python raises a SyntaxError`.

2. Python assigns:

- Positional arguments → by position (left to right)
- Keyword arguments → by parameter name

- If Python sees a keyword first, it assumes:
    - “All remaining arguments must also be keywords”
    - So a positional argument after that becomes ambiguous ❌

#### **(Positional → Keyword)**

In [19]:
def student_info(name, age, city):
    print(name, age, city)

student_info("Ajay", age=25, city="Jaipur")

Ajay 25 Jaipur

#### **All Positional (Allowed)**

In [32]:
student_info("Ajay", 25, "Jaipur")

Ajay 25 Jaipur

#### **All Keyword (Allowed)**

In [34]:
student_info(name="Ajay", age=25, city="Jaipur")

Ajay 25 Jaipur

#### **❌ (Keyword → Positional)**

In [30]:
student_info(name="Ajay", 25, city="Jaipur")

SyntaxError: positional argument follows keyword argument (326603655.py, line 1)

### Rule Summary

| Argument Order          | Allowed | Reason           |
| ----------------------- | ------- | ---------------- |
| Positional → Positional | ✅       | Normal mapping   |
| Positional → Keyword    | ✅       | Clear mapping    |
| Keyword → Keyword       | ✅       | Explicit mapping |
| Keyword → Positional    | ❌       | Ambiguous        |

#### **Default Arguments**
- Default arguments provide default values if no argument is passed.

In [38]:
def greet(name, city="Jaipur"):
    print("Name:", name)
    print("City:", city)

greet("Ajay")

Name: Ajay
City: Jaipur

- city has a default value "Jaipur"
- Since we didn’t pass city, Python used the default

In [40]:
greet("Ajay","Delhi")

Name: Ajay
City: Delhi

- Default values can always be overridden.

In [44]:
def student_info(name, age=18, city="Jaipur"):
    print(name, age, city)

student_info("Ravi")

Ravi 18 Jaipur

#### **NOTE:**
All default arguments must come after non-default arguments

In [50]:
def course_fee(course_name, fee=5000, discount=0):
    final_fee = fee - discount
    print(course_name, final_fee)

course_fee("Python")                 # default fee, no discount
course_fee("Python", discount=1000)  # keyword override

Python 5000
Python 4000

### **Variable-Length Arguments**
1. `*args` allows passing multiple positional arguments.
2. `**kwargs`  Variable Keyword Arguments

In [55]:
def total_marks(*marks):
    total = 0
    for mark in marks:
        total = total + mark
    return total


total = total_marks(78, 82, 91, 88)    
total

339

✔ marks is a tuple <br>
✔ Length can change dynamically

**You want to calculate total rows from multiple datasets.**

In [60]:
def total_rows(*datasets):
    total = 0
    for data in datasets:
        total = total + len(data)
    return total

ds1 = [1, 2, 3, 4]
ds2 = [5, 6]
ds3 = [7, 8, 9]

total_rows(ds1,ds2,ds3)

9

**Feature Normalization**

In [64]:
def min_max_normalize(*values):
    minimum = min(values)
    maximum = max(values)
    return [(x - minimum) / (maximum - minimum) for x in values]

print(min_max_normalize(10, 20, 30, 40))

[0.0, 0.3333333333333333, 0.6666666666666666, 1.0]

### **Combining Normal Arguments + `*args`** 
1. Normal parameters must come before *args

In [69]:
def student_avg(name, *scores):
    avg = sum(scores) / len(scores)
    print(name, avg)

student_avg("Ajay", 80, 85, 90)

Ajay 85.0

**Important Properties of `*args`**
| Property        | Description |
| --------------- | ----------- |
| Data type       | Tuple       |
| Mutable         | ❌ No        |
| Order preserved | ✅ Yes       |
| Can be empty    | ✅ Yes       |