## What is a Lambda Function?

1. A lambda function is a **small, anonymous function** written in a single line.
It is used when a function is needed for a **short, simple operation**.

2. Anonymous means:
- No function name
- Used temporarily

## Syntax

```python
lambda arguments : expression

Important rules:
- Can have multiple arguments
- Only one expression
- No return keyword

In [7]:
square = lambda x: x*x
square(25)

625

- `x` is the argument
- `x * x` is the expression
- Result is returned automatically

In [10]:
add = lambda a,b : a+b
add(89,76)

165

In [12]:
is_even = lambda x : True if x%2==0 else False
is_even(577)

False

## filter() — SELECT ELEMENTS
1. filter() selects elements from a collection for which a condition is True.
2. Syntax : `filter(function, iterable)`

**Problem : Keep only even numbers.**

In [32]:
values = [1, 2, 3, 4, 5, 6]
result = filter (lambda x: x%2 ==0 , values) # it returns a filter object, not a list.
result

In [34]:
list(result)

[2, 4, 6]

**Example (Data Cleaning)**

In [37]:
data = [10, -5, 20, -3, 30]
clean_data = list(filter(lambda x: x>=0, data))
clean_data

[10, 20, 30]

## map() — TRANSFORM EACH ELEMENT
1. map() applies a function to every element of a collection and returns the transformed result.
2. Syntax: `map(function, iterable)`

**Problem Square each number in a list.**

In [42]:
square = list(map(lambda x:x*x, range(1,11)))
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Example (Feature Scaling)**

In [55]:
data = [10, 20, 30, 40]
scaled = list(map(lambda x:x/10, data))
scaled

[1.0, 2.0, 3.0, 4.0]

## reduce() — COMBINE ALL ELEMENTS
1. reduce() combines all elements into a single value by repeatedly applying a function.
2. from functools import reduce

**Problem Find sum of all numbers.**

In [61]:
from functools import reduce

result = reduce(lambda a,b: a+b, range(1,101))
result

5050

In [65]:
data = [12, 45, 7, 30]

maximum = reduce(lambda x,y: x if x>y else y, data)
maximum

45

**Summary**
| Function   | Input    | Output       | Purpose   |
| ---------- | -------- | ------------ | --------- |
| `map()`    | iterable | iterable     | transform |
| `filter()` | iterable | iterable     | select    |
| `reduce()` | iterable | single value | aggregate |