### print() is used to display output on the screen in Python.
| Feature         | Example       |
| --------------- | ------------- |
| Basic           | `print("Hi")` |
| Multiple values | `print(a, b)` |
| Separator       | `sep=","`     |
| Line end        | `end=" "`     |
| Formatting      | `f"{x}"`      |

In [3]:
a = 10
b = 20
print(a) # Print  a value ,  Moves cursor to next line
print(b)

10
20

In [7]:
a = 30
b = 20
print(a,b) # By default, values are separated by space
print(a,b, sep=":")

30 20
30:20

In [15]:
print("ajay")
print("kumar")

print("Use Line end")

print("ajay", end=" ")
print("kumar")

ajay
kumar
Use Line end
ajay kumar

In [17]:
a , b,  c, d = 10,20,30,40
print(a,b,c,d,sep="::")

10::20::30::40

In [32]:
print(a,b,c,d,sep="&&", end="^^")
print(d,c,b,a, sep="###")
# By default end is new line
print(a,b,c,d,sep="&&")
print(d,c,b,a, sep="###")

10&&20&&30&&40^^40###30###20###10
10&&20&&30&&40
40###30###20###10

### Formatted Output (VERY IMPORTANT)


a) **f-string (Best & Modern)**

In [41]:
eid = 1
name  = "ajay"
age  = 25

print(f"Name: {name}, Age:{age}")

Name: ajay, Age:25

In [51]:
eno = int(input("Enter Employee no :"))
name = input("Enter Employee name :")
age = int(input("Enter Employee  age:"))
city = input("Enter Employee  City:")
mrrd = eval(input("Enter Employee  married [True/False]:"))

print("Please confirm Employee Details")
print(f"ID: {eno}\n Name: {name}\n Age: {age}\n City:{city}\n Married:{mrrd}")

Enter Employee no : 878657
Enter Employee name : ajay kumar
Enter Employee  age: 25
Enter Employee  City: delhi
Enter Employee  married [True/False]: False

Please confirm Employee Details
ID: 878657
 Name: ajay kumar
 Age: 25
 City:delhi
 Married:False

b) **format() method**

In [55]:
name = "ajay"
age = 25
print("Name: {}, Age: {}".format(name,age))

Name: ajay, Age: 25

In [53]:
eno = int(input("Enter Employee no :"))
name = input("Enter Employee name :")
age = int(input("Enter Employee  age:"))
city = input("Enter Employee  City:")
mrrd = eval(input("Enter Employee  married [True/False]:/n"))

print("Please confirm Employee Details")
print("ID={}\n Name={}\n Age={}\n City={}\n Married={}".format(eno,name,age,city,mrrd))

# Using Index
# print("ID={0}\n Name={1}\n Age={2}\n City={3}\n Married={4}".format(eno,name,age,city,mrrd))

# Using Kewords
# print("ID={x}\n Name={y}\n Age={z}\n City={a}\n Married={b}".format(x = eno,y = name,z = age,a = city,b =mrrd))

Enter Employee no : 65678
Enter Employee name : ajay kumar
Enter Employee  age: 25
Enter Employee  City: delhi
Enter Employee  married [True/False]:/n False

Please confirm Employee Details
ID=65678
 Name=ajay kumar
 Age=25
 City=delhi
 Married=False