# List :
### If we want to represent a group of values as single entity.

1. Insetion Order is perserved
2. Heterogeneous Objects are allowed
3. Duplicates are allowed
4. Growable in nature
5. Values should be enclosed within square brackets

In [8]:
# empty list

l = [] 
print(type(l))

<class 'list'>

**type():** is a built-in function used to find the data type of a variable or value.

In [3]:
l = [10,"ajay",20,30,10]
l1 = l
print(l is l1)
print(l)

True
[10, 'ajay', 20, 30, 10]

In [12]:
l = []
l.append(10)
l.append(20)
l.append(30)
l.append(40)
print(l)

[10, 20, 30, 40]

In [16]:
print(l)
l.remove(30)
print(l)

[10, 20, 30, 40]
[10, 20, 40]