# Tuple 

1. tuple data type is same as list data type except that is immmutable. i.e **we cannot change values.**
2. tuple elements can be represented within parenthesis.
3. tuple is read only version of list.

In [8]:
#empty tuple
t = ()

print(type(t))

<class 'tuple'>

In [16]:
t = (10,"ajay",20,30)

print(t)

print(t[1])
print(t[1:3])

(10, 'ajay', 20, 30)
ajay
('ajay', 20)

In [20]:
t = (10,"ajay",20,30)

t[1] = 100

#TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [22]:
t.append(50)

AttributeError: 'tuple' object has no attribute 'append'

In [24]:
t.remove()

AttributeError: 'tuple' object has no attribute 'remove'

### ⚠️ Single element tuple (important)

t = (10,)   # comma जरूरी है
print(type(t))

1. ❌ (10) tuple नहीं, int है
2. ✅ (10,) सही tuple है

In [31]:
t = (10)

print(type(t))

t = (10,)
print(type(t))

<class 'int'>
<class 'tuple'>