# dict Data type
1. If we want to represent a group of values as key value pairs then we should go for dict data type.
2. d = {key1: "value1", key2: "value2"} or d = {101: "ajay", 102: "vijay"}
3. Duplicates keys are not allowed but values can be duplicate. If we are trying to insert an entry with duplicated key then old value will be replaced with new value.

In [3]:
# empty
d = {}
print(type(d))

<class 'dict'>

In [5]:
d = {101: "ajay", 102: "vijay", 103:"kumar"}
print(type(d))
print(d)

<class 'dict'>
{101: 'ajay', 102: 'vijay', 103: 'kumar'}

In [7]:
d = {}
d[100] = "ajay"
d[200] = "vijay"
d[300] = "ravi"
d[400] = "atul"
d[500] = "vikas"

print(d)

{100: 'ajay', 200: 'vijay', 300: 'ravi', 400: 'atul', 500: 'vikas'}

In [11]:
# duplicate key inserted with new value
d[500] = "shiva"

print(d)

{100: 'ajay', 200: 'vijay', 300: 'ravi', 400: 'atul', 500: 'shiva'}