# List of Arithmetic Operators

| Operator | Name                | Example  | Result |
| -------- | ------------------- | -------- | ------ |
| `+`      | Addition            | `5 + 3`  | `8`    |
| `-`      | Subtraction         | `5 - 3`  | `2`    |
| `*`      | Multiplication      | `5 * 3`  | `15`   |
| `/`      | Division            | `5 / 2`  | `2.5`  |
| `//`     | Floor Division      | `5 // 2` | `2`    |
| `%`      | Modulus (Remainder) | `5 % 2`  | `1`    |
| `**`     | Exponent (Power)    | `2 ** 3` | `8`    |

### Important Points 
1. / vs //

/ ‚Üí Always float result

// ‚Üí Integer result (floor value) or float type ( If atleast one argument is float type then result is float type)

In [94]:
print(10/2)

print(10/3)

print(10//3)

print(10.0//3)

5.0
3.3333333333333335
3
3.0

# Addition Operator in Python
1. + operator Python ‡§Æ‡•á‡§Ç addition, concatenation ‡§î‡§∞ merging ‡§ï‡•á ‡§≤‡§ø‡§è use ‡§π‡•ã‡§§‡§æ ‡§π‡•à ‚Äî behavior data type ‡§™‡§∞ depend ‡§ï‡§∞‡§§‡§æ ‡§π‡•à‡•§

In [97]:
a = 10
b = 20
print(a+b)

30

In [99]:
a = "Ajay"
b = "Kumar"
print(a + b)

AjayKumar

In [101]:
print("Ajay"+"Kumar")

AjayKumar

In [103]:
print("Age: " + 25)   # ‚ùå TypeError

TypeError: can only concatenate str (not "int") to str

In [105]:
print("Age: " + str(25))
#OR
print("Age: "+ "30")

Age: 25
Age: 30

# Lists/tuples ‡§ï‡•á ‡§∏‡§æ‡§• + (List/tuples Concatenation)

In [108]:
a = [10,20,30]
b = [40,50,60]
print(a+b)

[10, 20, 30, 40, 50, 60]

In [110]:
a = (10,20,30)
b = (70,80,90)
print(a+b)

(10, 20, 30, 70, 80, 90)

üëâ Same + operator, different behavior based on data type:
| Type          | Meaning       |
| ------------- | ------------- |
| int + int     | Addition      |
| float + float | Addition      |
| str + str     | Concatenation |
| list + list   | Merge         |
| tuple + tuple | Merge         |

# * (asterisk) operator

In [114]:
a = 10 
b = 20.5
print(a*b)

205.0

# Repetition (Sequences)

Repeats strings, lists, or tuples.

### 1. for String
1. If we use * operator for str type then complusary one arugment should be **int** and other argument should be **str** type.

In [118]:
print("ajay"*3)
print(3*"kumar")

ajayajayajay
kumarkumarkumar

In [120]:
print("ajay"*"kumar")

TypeError: can't multiply sequence by non-int of type 'str'

In [122]:
print("ajay"*"3")

TypeError: can't multiply sequence by non-int of type 'str'

In [124]:
print("ajay"*int("3"))

ajayajayajay

### 2. for list / tuple

In [127]:
nums1 = [10,20,30]

print("List:\n",nums1*3)

nums2 = (40,50,60)
print("Tuple:\n",nums2*4)

List:
 [10, 20, 30, 10, 20, 30, 10, 20, 30]
Tuple:
 (40, 50, 60, 40, 50, 60, 40, 50, 60, 40, 50, 60)

# Argument Unpacking (*args)

Used in function definitions to accept variable numbers of arguments.

In [130]:
def add(*numbers):
    return sum(numbers)

print(add(1, 2, 3, 4))

10

# Iterable Unpacking
1. Unpacks elements from lists/tuples into other structures.

In [133]:
a = [10,20,30]
b = [40,50,*a,60]
print(b)

[40, 50, 10, 20, 30, 60]

# Summary Table
| Usage         | Meaning                     |
| ------------- | --------------------------- |
| `a * b`       | Multiplication              |
| `"x" * 3`     | Repetition                  |
| `*args`       | Variable function arguments |
| `[*a]`        | Iterable unpacking          |
| `a, *b = ...` | Collect remaining values    |

### In Python, division by zero is not allowed.

In [138]:
a = 10
b = 0
print(a/b)
print(a//b)
print(a%b)

ZeroDivisionError: division by zero

### Summary Table
| Operation     | Result                |
| ------------- | --------------------- |
| `10 / 0`      | ‚ùå ZeroDivisionError   |
| `10 // 0`     | ‚ùå ZeroDivisionError   |
| `10 % 0`      | ‚ùå ZeroDivisionError   |
| Safe handling | `try-except` or check |

### In Python, using the * operator with booleans works because bool is a subclass of int.

üëâ Internally:

True ‚Üí 1

False ‚Üí 0

In [146]:
print("ajay"*True)   ##internally print("ajay"*1) print one times

print("ajay"* False) ##internally print("ajay"*0) print zero times

ajay

In [150]:
print(5 * True)   
print(5 * False)

5
0

In [152]:
print([1, 2] * True)   # [1, 2]
print([1, 2] * False)  # []

[1, 2]
[]

### Summary
| Expression     | Result |
| -------------- | ------ |
| `True * True`  | `1`    |
| `True * False` | `0`    |
| `"A" * True`   | `"A"`  |
| `"A" * False`  | `""`   |

### Relational Operators
1. In Python, relational operators (also called comparison operators) are used to compare two values.
2. | Operator | Meaning                  | Example  |
| -------- | ------------------------ | -------- |
| `==`     | Equal to                 | `a == b` |
| `!=`     | Not equal to             | `a != b` |
| `>`      | Greater than             | `a > b`  |
| `<`      | Less than                | `a < b`  |
| `>=`     | Greater than or equal to | `a >= b` |
| `<=`     | Less than or equal to    | `a <= b` |

In [157]:
a = 10
b = 20

print(a == b)   # False
print(a != b)   # True
print(a > b)    # False
print(a < b)    # True
print(a >= 10)  # True
print(b <= 15)  # False

False
True
False
True
True
False

### In Python, strings are compared using relational operators, and the comparison is done lexicographically (character by character, based on Unicode/ASCII values).

How Python Compares Strings

Python compares:

1. First character of both strings

2. If equal ‚Üí move to next character

3. Stops when a difference is found

In [160]:
a = "apple"
b = "banana"

print(a == b)   # False
print(a != b)   # True
print(a < b)    # True
print(a > b)    # False

False
True
True
False

In [164]:
print("car" > "cat")   # ('t' > 'r')

False

### String comparison is case-sensitive.
1. uppercase letters have smaller Unicode values

In [169]:
print("ajay" > "Ajay") #('a' > 'A')

True

### Chained Comparisons (Python feature ‚≠ê)

In [173]:
x = 10
print(5<x and x<20)

True

In [177]:
print(10<20<30<40)
print(10<20<30<40>50)

True
False

### Invalid Comparisons
Python does not allow comparison between unrelated types.

In [180]:
print(5 > "ajay")

TypeError: '>' not supported between instances of 'int' and 'str'

### Summary:

1. Relational operators compare values

2. Output is always True or False

3. Python supports chained comparisons

4. Mixed-type comparisons (like int vs str) are not allowed

### Equality operator is ==
It is used to check whether two values are equal.

In [189]:
a = 10
b = 10

print(a == b)

True

In [191]:
a = 5
b = 5.0

print(a == b)

True

In [195]:
print("ajay" == 4)

False

In [199]:
print("hello" == "hello")
print("hello" == "Hello") #(case-sensitive)

True
False

### Equality vs Identity (== vs is) Important

In [222]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)  # True  (same values) (check content)
print(a is b)  # False (different objects)
print(id(a))
print(id(b))

print("")

c = 10
d = 10
print(c == d)
print(c is d)
print(id(c))
print(id(d))

True
False
5813040384
5093877440

True
True
4305969952
4305969952

### Summary
| Expression   | Result                |
| ------------ | --------------------- |
| `a == b`     | Checks value equality |
| `a is b`     | Checks identity       |
| `"A" == "a"` | False                 |

### Logical Operators in Python
| Operator | Meaning                                    |
| -------- | ------------------------------------------ |
| `and`    | True if **both** conditions are True       |
| `or`     | True if **at least one** condition is True |
| `not`    | Reverses the result                        |

In [226]:
a = 10
b = 20

print(a > 5 and b > 15)   # True
print(a > 5 and b > 25)   # False

True
False

In [228]:
a = 10
b = 5

print(a > 5 or b > 10)    # True
print(a < 5 or b > 10)    # False

True
False

In [230]:
x = True

print(not x)   # False

False

### Logical Operators with Non-Boolean Values

Python uses truthy and falsy values.
Falsy values:

1. False
2. 0
3. None
4. ""
5. [], {}, ()

***How Logical Operators Work***
1. **and** Operator (x and y)</br>
   .If x evaluates to false , then result is x</br>
   .If x evaluates to true , then result is y</br>

   OR

   .Returns the first falsy value</br>
   .If all values are truthy ‚Üí returns the last value

In [238]:
print(10 and 20)      # 20
print(0 and 5)        # 0
print("hi" and "")    # ""

20
0

2. **or** Operator</br>
   .If x evaluates to true then result is x otherwise result is y.</br>

   OR</br>
   
   .Returns the first truthy value</br>
   .If all values are falsy ‚Üí returns the last value

In [247]:
print(0 or 5)         # 5
print("" or "hello")  # hello
print(None or 0)      # 0

5
hello
0

3. **not** Operator <br>
   .Always returns a boolean<br>
   .Reverses truth value

In [258]:
print(not 0)        # True
print(not "text")   # False
print(not [])
print(not "[1]")
print(not "[]")

True
False
True
False
False