# What is a Nested Dictionary?
1. A nested dictionary is a dictionary that contains another dictionary as its value.
2. Nested dictionaries are used when data has structure and hierarchy.

In [6]:
student = {
    "name": "ajay",
    "academics": {
        "database":89,
        "operating_system":82,
        "computer_network":90,
        "machine_learning":99,
        "deep_learning":99,
        "linear_algebra":100
    }
}
student

{'name': 'ajay',
 'academics': {'database': 89,
  'operating_system': 82,
  'computer_network': 90,
  'machine_learning': 99,
  'deep_learning': 99,
  'linear_algebra': 100}}

### Accessing Data from Nested Dictionary

**outer level**

In [10]:
student["name"]

'ajay'

**inner level**

In [18]:
student["academics"]["deep_learning"]

99

### Updating Nested Dictionary Values

In [23]:
student["academics"]["operating_system"] = 98
print(student["academics"]["operating_system"])

98

In [27]:
student["academics"]["data_structure"] = 83
student

{'name': 'ajay',
 'academics': {'database': 89,
  'operating_system': 98,
  'computer_network': 90,
  'machine_learning': 99,
  'deep_learning': 99,
  'linear_algebra': 100,
  'data_structure': 83}}

### Looping Through Nested Dictionaries in Python
1. Real-life meaning
    - Outer key → Student ID
    - Inner dictionary → Student details

In [52]:
record = {
    101: {"name":"ajay", "marks":92, "city":"delhi"},
    102: {"name":"anushka", "marks":90, "city":"pune"},
    103: {"name":"sunny", "marks":85, "city":"jaipur"},
    104: {"name":"sonali","marks":78,"city":"pune"}
}

print("Outer loop:")
for students_ids in record:
    print(students_ids)

Outer loop:
101
102
103
104

In [54]:
print("Inner loop:")
for students_ids, details in record.items():
    print(students_ids, details)

Inner loop:
101 {'name': 'ajay', 'marks': 92, 'city': 'delhi'}
102 {'name': 'anushka', 'marks': 90, 'city': 'pune'}
103 {'name': 'sunny', 'marks': 85, 'city': 'jaipur'}
104 {'name': 'sonali', 'marks': 78, 'city': 'pune'}

**Employee Database** <br>
    - Task: Print IT Department Employees

In [63]:
employees = {
    "E01": {"name": "Ajay", "dept": "IT", "salary": 55000},
    "E02": {"name": "Ravi", "dept": "HR", "salary": 45000},
    "E03": {"name": "Neha", "dept": "IT", "salary": 60000}
}

In [67]:
for ids, detail in employees.items():
    if detail["dept"] == "IT":
        print(detail["name"], detail["salary"])
    else:
        continue

Ajay 55000
Neha 60000

**Deep Nested Dictionary (Level-2 Example)**
1. **Task 1:** Count Employees per Department
2. **Task 2:** Find High-Salary Employees (> 60,000)
3. **Task 3:** Filter Experienced Employees (≥ 5 years)

In [77]:
company = {
    "IT": {
        "E101": {"name": "Ajay", "salary": 60000, "experience": 5},
        "E102": {"name": "Ravi", "salary": 55000, "experience": 4},
        "E103": {"name": "Neha", "salary": 65000, "experience": 6},
        "E104": {"name": "Amit", "salary": 50000, "experience": 3}
    },

    "HR": {
        "E201": {"name": "Pooja", "salary": 48000, "experience": 4},
        "E202": {"name": "Karan", "salary": 52000, "experience": 5},
        "E203": {"name": "Sneha", "salary": 47000, "experience": 3}
    },

    "Finance": {
        "E301": {"name": "Rahul", "salary": 70000, "experience": 7},
        "E302": {"name": "Anita", "salary": 68000, "experience": 6}
    },

    "Sales": {
        "E401": {"name": "Vikas", "salary": 45000, "experience": 2},
        "E402": {"name": "Nisha", "salary": 50000, "experience": 3},
        "E403": {"name": "Arjun", "salary": 52000, "experience": 4}
    }
}

**Task 1: Count Employees per Department**

In [109]:
for dept,employees in company.items():
    print(dept, "has", len(employees), "employees")

IT has 4 employees
HR has 3 employees
Finance has 2 employees
Sales has 3 employees

**Task 2: Find High-Salary Employees (> 60,000)**

In [125]:
for dept,employees in company.items():
    for ids, details in employees.items():
        if details["salary"] >= 60000:
            print(details["name"], details["salary"], dept)

Ajay 60000 IT
Neha 65000 IT
Rahul 70000 Finance
Anita 68000 Finance

**Task 3:Filter Experienced Employees (≥ 5 years)**

In [131]:
for dept , employees in company.items():
    for ids, details in employees.items():
        if details["experience"] >= 5:
            print(details["name"], details["experience"],details["salary"], dept)

Ajay 5 60000 IT
Neha 6 65000 IT
Karan 5 52000 HR
Rahul 7 70000 Finance
Anita 6 68000 Finance