## Objective
1. This notebook introduces list comprehension from scratch, explaining how to create, filter, and transform lists using concise and readable syntax with data-oriented examples.

#### What is List Comprehension? 
1. List comprehension is a short and readable way to create a new list from an existing iterable.
2. **Basic Syntax** : [new_value **for** item **in** iterable]
3.
| Part        | Meaning                |
| ----------- | ---------------------- |
| `new_value` | What you want to store |
| `item`      | Each element           |
| `iterable`  | List, range, etc       |

In [40]:
marks = [78, 29, 92, 31, 74, 18, 88, 25, 69, 76]

In [43]:
updated_marks = [x+5 if 28<=x<33 else x for x in marks]
updated_marks

[78, 34, 92, 36, 74, 18, 88, 25, 69, 76]

### enumerate() in List Comprehension

In [53]:
names = [ "Rahul Sharma", "Ankit Verma","Ajay Kumar","Rohit ", "Sandeep ","Neha ", "Pooja Mehta", "Priya Patel", "Anjali Jain", "Kavita " ]
marks = [78, 29, 92, 31, 74, 18, 88, 25, 69, 76]
indexed_names = [f"{index+1}. {name}" for index, name in enumerate(names)]
indexed_names

['1. Rahul Sharma',
 '2. Ankit Verma',
 '3. Ajay Kumar',
 '4. Rohit ',
 '5. Sandeep ',
 '6. Neha ',
 '7. Pooja Mehta',
 '8. Priya Patel',
 '9. Anjali Jain',
 '10. Kavita ']

### Using zip() in List Comprehension

In [62]:
for name, mark in zip(names,marks):
    print(f"{name:<15} {mark:>3}")

Rahul Sharma     78
Ankit Verma      29
Ajay Kumar       92
Rohit            31
Sandeep          74
Neha             18
Pooja Mehta      88
Priya Patel      25
Anjali Jain      69
Kavita           76